<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



    <table class="table table-hover">
      <thead>
        <tr>
          <!--th scope="col">#</th-->
          <th scope="col"> Cuenta </th>
          <th scope="col"> Saldo </th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items={{accounts}}>
          <tr>
            <!--th scope="row"> {{item.id}} </th-->
            <td> {{item.iban}} </td>
            <td class="text-right">{{item.balance}} €</td>
          </tr>
        </template>
      </tbody>
    </table>
    <!--input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="70" /-->

    <iron-ajax auto
      id="getCuentas"
      url="http://localhost:3000/apitechu/v1/account/{{id}}"
      handle-as="json"
      on-response="showData"
    ></iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          }
        };
      }
      showData(data){
        console.log("function showData");

        console.log(data.detail.response);

        this.accounts=data.detail.response;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
